! Cisco IOS Configuration
version 15.2
hostname {{ device_hostname | default("ROUTER") }}
!
ip routing
!
{% for obj in network_objects %}
{% if obj.type == "route" %}
ip route {{ obj.destination | network_addr }} {{ obj.destination | netmask }} {{ obj.next_hop }}
!
{% elif obj.type == "routing_protocol" %}
router {{ obj.protocol }}
{% for net in obj.networks | default([]) %}
 network {{ net }}
{% endfor %}
!
{% endif %}
{% endfor %}

end
